<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th><h4>First Name</h4></th>
            <th><h4>Last Name</h4></th>
        </tr>
        
            {% for user in usersDict %}
        <tr>
            <td>{{user['first_name']}}</td>
            <td>{{user['last_name']}}</td>
            {% endfor %}
        </tr>
    </table>
    
</body>
</html>